/* ESTILO GERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #00001b;
    height: 100vh;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}

.flex{
    display: flex;
}

.btn-contato button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #f8f8ff;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}

.btn-contato button:hover{
    background-color: #f8f8ff;
    box-shadow: 0px 0px 5px #f8f8ff;
    transform: scale(1.05);
}

/* ESTILO DO CABEÇALHO */

header{
    padding: 40px 4%;
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a{
    color: #aaaaaa;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header a:hover{
    color: #f8f8ff;
    transform: scale(1.05);
}

header nav ul{
    list-style-type: none;
}

header nav ul li{
    display: inline-block;
    padding: 0 40px;
}

/* ESTILO DO TOPO DO SITE */

section.topo-do-site{
    padding: 40px 4%;
}

section.topo-do-site.flex{
    align-items: center;
    justify-content: center;
}

.topo-do-site h1{
    color: #f8f8ff;
    font-size: 42px;
    gap: 90px;
    line-height: 40px;
}

.topo-do-site .txt-topo-site p{
    color: #f8f8ff;
    margin: 40px 0px;
}

.topo-do-site .img-topo-site img{
    max-width:600px;
    max-height:450px;
    width: auto;
    height: auto;
    position: relative;
    animation: flutuation 2s ease-in-out infinite alternate;
}

@keyframes flutuation{
    0%{
        top: 0;
    }
    100%{
        top: 15px;
    }
}
